//- includes/head.pug
head
  title Parent Playground
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
  | <style type='text/css'>
  include styles.css
  | </style>
  | <script>
  include main.js
  | </script>